<?xml version="1.0" encoding="UTF-8" standalone="no" ?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0">  <dict>	  <key>CFBundleDevelopmentRegion</key>	  <string>en_US</string>	  <key>CFBundleExecutable</key>	  <string>4DBAG</string>	  <key>CFBundleGetInfoString</key>	  <string>Internal component for Wakanda</string>	  <key>CFBundleIdentifier</key>	  <string>com.Wakanda.Studio</string>	  <key>CFBundleName</key>	  <string>4DBag</string>	  <key>CFBundleShortVersionString</key>	  <string>0.5</string>	  <key>CFBundleLongVersionString</key>	  <string>version 0.5</string>	  <key>CFBundleVersion</key>	  <string>0</string>	  <key>CFBundleDisplayName</key>	  <string>4DBag</string>	  <key>NSHumanReadableCopyright</key>	  <string>©de-lachaux.net All right reserved</string></dict></plist>